<div class="container my-md-5">
    <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <div class="row">
        <div *ngFor="let item of Items[0].myItems;let i=index" class="col-12 my-md-3">
            <div class="row">
            <div class="col-md-2">
                <img class="w-100" [src]="item.owner.avatar_url" alt="Avatar">
            </div>
            <div class="col-md-10">
               <a [href]="item.html_url"><h2>{{item.name}}</h2></a> 
                <h6>{{item.description}}</h6>
                <p><span class="mr-3">Stars: {{item.watchers_count|convertingWatchers}}K</span><span class="mx-3">Issues:{{item.open_issues_count}}</span><span *ngFor="let date of Items[0].dates;let j=index"> <span *ngIf="i==j">pushed {{date}} days ago by</span>  <span class="font-weight-bold" *ngFor="let name of Items[0].names;let h=index"> <span *ngIf="i==h">pushed {{name}} days ago by</span> </span></span> </p>
               
            </div>
            </div>
        </div>
    </div>
</div>
  <div class="row p-5">
    <div class="col-md-12">
        <ngx-spinner
        bdOpacity=.9
        bdColor=""
        size=default
        color="#581f87"
        type="ball-pulse-sync"
        [fullScreen]="false"
        ></ngx-spinner>
    </div>
  </div>
  <button (click)="scrollToTop()" class="btn btn-info rounded-circle position-fixed myBtn py-3 px-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
  </svg></button>
</div>
